<% if @user.errors.any? %>
  <div id="error_explanation">
    <%= pluralize(@user.errors.count), 'error') %> prohibited this form from
    being submited.
  </div>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :username, 'Your email' %>
    <%= f.text_field :username, placeholder: 'John Doe' %>
  </p>

  <p>
    <%= f.label :email, 'Your email' %>
    <%= f.email_field :email, placeholder: 'example@mail.net' %>
  </p>

  <p>
    <%= f.label :password, 'Your password' %>
    <%= f.password_field :password %>
  </p>

  <%= f.submit 'Submit' %>
<% end %>
