<h1>Users list</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>email</th>
      <th>password</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>FILTERED</td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>
